* {
    margin: 0;
    padding: 0;
}
html {
    scroll-snap-type: x mandatory;
    scrollbar-width: 10px;




}

body {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    scrollbar-color: #3498db;

    width: calc(100vw * 4 );
    scroll-snap-type: x mandatory;
  }

@keyframes randomUm {
    0% {}
    50% {
        transform: translate(100px, 200px);
    }
    100% {
        transform: translate(300px, 300px);
    }
    
}
@keyframes randomDois {
    0% {}
    50% {
        transform: translate(200px, 300px);
    }
    100% {
        transform: translate(300px, -100px);
    }
    
}
@keyframes randomTres {
    0% {}
    50% {
        transform: translate(50px, -100px);
    }
    100% {
        transform: translate(200px, -200px);
    }
    
}
@keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
  
    50% {
      height: 50px;
    }
  
    100% {
      height: 10px;
    }
  }

  
@keyframes musicaDo {

    to {

    }

   from {

        background-color: #3498db;
        height: 230px;
        
    }

   


}
@keyframes fundoGrace {

    to {

    }

   from {

    transform: translateX(100px);

    } }
@keyframes fundoGraceD {

    to {

    }

   from {

    transform: translateX(-100px);

    } }
@keyframes fundoGraceT {

    to {

    }

   from {

    transform: translateX(50px);

    } }
@keyframes jump {

    to {

    }

   from {
    transform: translateY(30px);
    background-color: #3498db;

    }
   


}

@keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }
      
@keyframes fundo {

    0%{ background-position: 0% 0%;

    }

  
   100% {
    background-position: 200% 0%;
    }
   


}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.titulo {

    font-family: "Vampiro One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #000;
    font-size: 150px;
    height: 150px;


}
.alt {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    gap: 1.2px;
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    right: 0px;
    


    
}
.tecla {
    width: 65px;
    height: 225px;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.5s;
   

}
.tecla:hover{
    background-color: #3498db;
    

}
.tecla.sus:hover{
    background-color: #3498db;
}
.tecla.sus {
    width: 50px;
    height: 120.5px;
    background-color: #1d1d1d;
    border-radius: 1px solid black;
    transition: 0.5s;

}
.tecla.sus.ativo {
    width: 40px;
    height: 100px;
    background-color: #41c71f;

}
.sustenidos {
    display: flex;
    position: absolute;
    top: 8px;
    gap: 5rem;
    transform: rotate(90deg);
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1000;
}
.div {
    width: auto;
    display: flex;
    gap: 1.2rem;
}
.tecla.ativo {
    background-color: #97eaff;
}
.tecla.ativoDois {
    background-color: #1ea1c2;
}


.subtitulo {

    font-family: "Mirza", serif;
    font-weight: 500;
    font-size: 80px;
    font-style: normal;


}

.btn_alt {
    width: 320px;
    padding: 8px;
    height: auto;
    border-radius: 10px;
    display: flex;
    font-size: 70px;
    align-items: center;
    font-weight: 800;
    justify-content: center;
    background-color: #3498db;
 


}

.sec {
    width: calc(100vw);
    height: 95vh;
    padding: 0rem;
    scroll-snap-align: start;
    background-color: #ededed;

}
.sec.four {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
  

}


.textos {
    width: 50%;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 12rem;
   
}
.invisible {
    display: none;
}
.contCad.invisible {
    display: none;
}

.lateralNav {
    position: fixed;
   width: 50px;
   height: 50px;
   border-radius: 100px;
    z-index: 1000;
    background-color: #1d1d1d;
    top: 25px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s ease;
    z-index: 10000;
}
.lateralNav.ativo {
    
    transition: 1.5s ease;
    border-radius: 10px;
    width: 60px;
    height: 85vh;
}

.sec.one {

    display: flex;
    align-items: center;
    flex-direction: row;


    }

    #dó {
        animation: musicaDo 1s;
        animation-iteration-count: infinite;
    }
    #ré {
        animation: musicaDo 1s;
        animation-delay: 1.2s;
        animation-iteration-count: infinite;
    }
    #mi {
        animation: musicaDo 1s;
        animation-delay: 1.4s;
        animation-iteration-count: infinite;
    }
    #fa {
        animation: musicaDo 1s;
        animation-delay: 1.6s;
        animation-iteration-count: infinite;
    }
    #sol {
        animation: musicaDo 1s;
        animation-delay: 1.9s;
        animation-iteration-count: infinite;
    }
    #la {
        animation: musicaDo 1s;
        animation-delay: 2.1s;
        animation-iteration-count: infinite;
    }
    #si {
        animation: musicaDo 1s;
        animation-delay: 2.3s;
        animation-iteration-count: infinite;
    }

    .sec.two {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
   
    
    }

    .sec.tree {
        
        display: flex;
        justify-content: center;
        align-items: start;
        justify-content: end;

    }
    .teclasCad {
        width: 100%;
        height: calc(100% / 4);
        box-shadow: 2px 8px 1px rgba(0, 0, 0, 0.246);
    }
    .inputTecla {
        height: 100px;
        width: calc(500px - 2rem);
        background-color: #1d1d1d;
        border: none;
        color: #fff;
        font-size: 24px;
        position: relative;
        top: 50px;
        padding-left: 2rem;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 14px 0px rgb(16 16 16);
        transition: 0.5s;

       
    }
    .inputTecla.cad {
        top: 100px;
    }
    .inputTecla:focus {
        box-shadow: none;
        margin-top: 14px;
        outline: none;

    }
    .inputTecla.one {
        position: absolute;
        top: 25px;
    }

    .contCad {
        width: 70%;
        background-color: #ededed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 50;
        
    }
    .contLog {
        width: 70%;
        background-color: #ededed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 50;
        
    }
    .contLog.invisible {
        display: none;
    }

    .circulo {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #009dff;
        animation: jump 1s  infinite ;
        animation-direction: alternate;
        transition: 1s;
        position: absolute;
        bottom: 4rem;
        cursor: pointer;


    }
    .alignCircle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        position: absolute;
        bottom: 4rem;
        

    }
    .alignColumn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .buttonCad {
        width: 500px;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1d1d1d;
        height: 100px;
        position: relative;
        top: 65%;
        border: none;
        box-shadow: 0px 14px 0px rgb(16 16 16);
        transition: 0.5s;
    }
    .buttonCad:focus {
        box-shadow: none;
        margin-top: 14px;

    }

    .fundoCad {
        width: 40%;
        height: 100%;
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: repeat-y;
        animation: fundo 10s infinite  alternate ;
        z-index: 10;
    }
    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
        border-color: #fff;
        cursor: pointer;
      }
      .hamburger::after,
      .hamburger::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: #fff;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
      }
    
      .lateralNav.ativo .hamburger {
        border-top-color: transparent;
        z-index: 8;
        cursor: pointer;
      }
    
      .lateralNav.ativo .hamburger::before {
        transform: rotate(135deg);
        z-index: 8;
      }
      .lateralNav.ativo .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
        z-index: 8;
      }
.grid-container{
    display: flex;
    gap: 1rem;
    overflow: hidden;
    position: relative;
    transition: 1s;

    
}
.grid-item{
    display: flex;
    width: calc(100% / 4);
    height: 50px;
    background-color: #1d1d1d;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 5;
    transition: 0.5s;
    cursor: pointer;


}
.grid-item:hover {
    background-color: #3498db;
    font-size: 22px;
    color: #1d1d1d;
}
.grid-container.altUm{
    animation: fundoGrace 5s infinite  alternate ease-in-out ;
    right: 50px;

    


}
.grid-container.altDois{
    animation: fundoGraceD 5s infinite  alternate ;
    left: 20px;

    


}
.grid-container.altTres{
    animation: fundoGraceT 5s infinite  alternate ;
    right: 20px;

    


}
.grid-containerPai {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background-color: white;
    overflow-x: hidden;
    width: 40%;
    height: 100%;
    opacity: 80%;
    
    z-index: 4;
    
}
.fundo {
    width: 45%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 4px;
    justify-content: start;

}
.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .loading-bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
/* .vinheta {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 200px 0 300px rgba(63, 63, 63, 0.9) inset;
    z-index: 50;
 
} */

.navigation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px ;
    cursor: pointer;
}

.botaoLogin {
    width: 250px;
    height: 75px;
    border-radius: 100px;
    /* background-color: #3498db; */
    border: 4px solid #3498db;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif !important;
    transition: 0.5s ease;

}
.btn {
    width: 175px;
    height: 50px;
    border-radius: 100px;
    background-color: #3498db;
 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif !important;
    transition: 0.5s ease;
    border: none;

}
.botaoLogin:hover {
    background-color: #3498db;
   
}
.botaoLogin:hover p {
  
    color: #fff;
   
}
.botaoLogin p{
 font-family: "Bebas Neue", sans-serif !important;
 transition: 0.5;
 letter-spacing: 2px;
 color: #1d1d1d;
}
.cicle {

    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 100px;
    position: absolute;
    animation: randomUm 15s infinite alternate;
    transform: translate(300px);
   
}
.textoAbsolute {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 5rem;
    transition: 1.5s;
}
.textoAbsolute.ativo {
    top: 1.5rem;
}
.circulo.cardCircle{
    width: 250px;
    border-radius: 10px;
    height: 200px;
    transition: 1s;
    position: absolute;
    transform: matrix3d(50px);
    
}
.circulo.circulo.cardCircle:hover {
    
}
.cicle.umC {
    width: 150px;
    height: 150px;
    animation: randomDois 15s infinite alternate;
    transform: translate(-100px);

}
.contCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 50;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #ffffff80;
    border-radius: 10px;
    border: 2px solid #fff;
    backdrop-filter: blur(10px);
}
.contCadastro.invisible {
    display: none;
}
.contLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 50;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: #ffffff80;
    border-radius: 10px;
    border: 2px solid #fff;
    backdrop-filter: blur(10px);
}
.contLogin.invisible {
    display: none;
}
.cicle.doisC {
    width: 180px;
    height: 180px;
    transform: translate(-200px, 350px);
    animation: none;
    animation: randomTres 15s infinite alternate;
} 
.metade {
    display: flex;
    align-items: start;
    justify-content: center;
    width: calc(50% - 2rem);
    height: 100%;
    flex-direction: column;
    padding: 2rem;

}
.metadeDois {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #1d1d1d;

}
.gradiente {
    width: 80%;
    height: 400px;
    background: rgb(52,152,219);
background: linear-gradient(90deg, rgba(52,152,219,1) 0%, rgba(52,152,219,1) 35%, rgba(32,111,163,1) 100%);
position: absolute;
}
.aboutUs {
    width: 45%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    align-items: start;
    justify-content: center;
    padding: 1rem 2rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.116);
 
    
}
.imgPessoa {
    width: 550px;
    height: 450px;
}
.alignAbout {
    width: 70%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 40;
    align-items: end;
    justify-content: space-around;
}